<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioCategoria.css')}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envios Bios - Agregar Categoria</title>
</head>

<body th:remove="tag">
    <h1>Agregar Categoria</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>
    <div th:replace="fragmentos/formulario-categoria :: formulario-categoria('Agregar')"></div>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>

</body>

</html>