<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estiloFormularioGenerales.css">
    <title>Categorías</title>
</head>

<body th:remove="tag">

    <div class="container" align="center">
        <h1>Categorías</h1>

        <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

        <!-- Formulario de búsqueda -->
        <form id="formularioBusqueda" method="get">
            <div>
                <input type="search" name="criterio" th:value="${param.criterio}" id="criterio"
                    placeholder="Nombre de categoría">
                <input type="submit" value="Buscar">
            </div>
        </form>

        <!-- Mensaje si no hay resultados -->
        <p th:if="${#lists.isEmpty(categorias)}" style="color: red;">No se encontró ninguna categoría con el
            criterio
            proporcionado.</p>

        <!-- Tabla para mostrar la lista de categorías -->
        <div class="datagrid" id="tablaCategorias" th:if="${!#lists.isEmpty(categorias)}">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${categorias}">
                        <td th:text="${c.idCat}"></td>
                        <td th:text="${c.nombre}"></td>
                        <td>
                            <a th:href="@{/categorias/{idCat}(idCat=${c.idCat})}" title="Ver Detalle"><i
                                    class="icono icono-ver"></i></a>&nbsp;&nbsp; |
                            <a th:href="@{/categorias/modificar(idCat=${c.idCat})}" title="Modificar"><i
                                    class="icono icono-modificar"></i></a>&nbsp;&nbsp; |
                            <a th:href="@{/categorias/eliminar(idCat=${c.idCat})}" title="Eliminar"><i
                                    class="icono icono-eliminar"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>
            <a class="agregar" th:href="@{/categorias/agregar}" title="Agregar">Agregar Categoría</a>
        </p>

        <!-- Controles de paginación -->
        <div class="pagination" th:if="${!#lists.isEmpty(categorias)}">
            <ul class="li-pagination">
                <!-- Link para ir a la página anterior -->
                <li th:if="${page.hasPrevious()}">
                    <a
                        th:href="@{/categorias(pagina=${page.number - 1}, tamanioPagina=${page.size}, criterio=${criterio})}">←</a>
                </li>

                <!-- Mostrar número de página actual y total de páginas -->
                <li th:text="'Página ' + (${page.number + 1}) + ' de ' + ${page.totalPages}"></li>

                <!-- Link para ir a la página siguiente -->
                <li th:if="${page.hasNext()}">
                    <a
                        th:href="@{/categorias(pagina=${page.number + 1}, tamanioPagina=${page.size}, criterio=${criterio})}">→</a>
                </li>
            </ul>
        </div>

        <script>
            // Función que hace scroll automático a la tabla
            function irATablaCategorias() {
                const tabla = document.getElementById('tablaCategorias');
                if (tabla) {
                    tabla.scrollIntoView({ behavior: 'smooth' });
                }
            }

            // Llamar a la función después de que la página haya cargado
            window.onload = function () {
                // Verificamos si es una recarga o navegación después de una paginación
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('pagina')) {
                    irATablaCategorias();
                }
            };

            document.getElementById('formularioBusqueda').addEventListener('search', function () {
                document.getElementById('formularioBusqueda').submit();
            });

            document.getElementById('criterio').focus();
            document.getElementById('criterio').select();
        </script>

        <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
    </div>
</body>

</html>