<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioCategoria.css')}">

<head>
    <title>Envios Bios - Eliminar Categoria</title>
</head>

<body th:remove="tag">
    <h1>Eliminar Categoria</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <th:block th:if="${categorias}">
        <p>¿Confirma que desea eliminar el producto con código <strong th:text="${categorias.idCat}"></strong> (<span
                th:text="${categorias.nombre}"></span>)?</p>

        <form method="post">
            <div>
                <input type="submit" value="Eliminar" />
            </div>
        </form>
    </th:block>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>

</body>

</html>