<div xmlns:th="http://www.thymeleaf.org" th:fragment="formulario-estadosRastreos(textoBoton)"
    th:with="foco = ${foco} ?: 'descripcion'">

    <link rel="stylesheet" th:href="@{/css/estiloFormularioGenerales.css}">

    <div align="center" style="padding-bottom: 50px;">
        <form method="post" th:object="${rastreo}">

            <!-- Mostrar el ID pero como campo de solo lectura -->
            <div>
                <label for="idRastreo">ID</label>
                <input type="text" th:field="*{idRastreo}" id="idRastreo" readonly="readonly" />
            </div>

            <div>
                <label for="descripcion">Descripción</label>
                <input type="text" th:field="*{descripcion}" id="descripcion" />
                <p th:errors="*{descripcion}" style="color: red;"></p>
            </div>

            <div>
                <input type="submit" th:value="${textoBoton}" />
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    document.getElementById(/*[[${foco}]]*/'descripcion').focus();
    document.getElementById(/*[[${foco}]]*/'descripcion').select();
</script>