<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:fragment="html(titulo, contenido, cssPath)">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${titulo}">Envios Bios</title>

  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{${cssPath}}" th:if="${cssPath}">

</head>

<body>
  <header class="cabezal-principal">
    <div>
      <img th:src="@{/imagenes/logo png.png}" alt="Logo Envíos Bios" class="logo-header">
    </div>
  </header>
  <nav class="navegacion-principal">
    <ul>
      <li><a th:href="@{/login}">Iniciar Sesión</a></li>
      <li><a th:href="@{clientes/registrarcliente}">Registro de Cliente</a></li>
      <li>
        <a href="#">Secciones</a>
        <ul>
          <li><a href="#intro-bios">Nosotros</a></li>
          <li><a href="#mision">Misión y Visión</a></li>
          <li><a href="#why">¿Por qué elegir Envios BIOS?</a></li>
          <li><a href="#testimonial">Testimonios</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</body>

</html>