<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:fragment="html(titulo, contenido, cssPath)">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${titulo}">Envios Bios</title>

  <link rel="stylesheet" th:href="@{/css/header-dos.css}">
  <link rel="stylesheet" th:href="@{${cssPath}}" th:if="${cssPath}">

</head>

<body>
  <header class="cabezal-principal">
    <div>
      <img th:src="@{/imagenes/logo png.png}" alt="Logo Envíos Bios" class="logo-header">
    </div>
  </header>
  <nav class="navegacion-principal">
    <ul>
      <li><a th:href="@{/bienvenida}">Inicio</a></li>

      <li sec:authorize="hasAuthority('cliente')">
        <a href="#">Menu</a>
        <ul>
          <li><a th:href="@{/paquetes/agregar}">Agregar paquetes</a></li>
          <li><a th:href="@{/clientes/listarpaquetes}">Paquetes enviados</a></li>
        </ul>
      </li>

      <li sec:authorize="hasAuthority('empleado')">
        <a href="#">Menu</a>
        <ul>
          <li><a th:href="@{/sucursales}">CRUD sucursales</a></li>
          <li><a th:href="@{/empleados}">CRUD empleados</a></li>
          <li><a th:href="@{/categorias}">CRUD categorias</a></li>
          <li><a th:href="@{/estadosRastreos}">CRUD estadosRastreos</a></li>
          <li><a th:href="@{/paquetes}">CRUD paquetes</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu-cerrar-sesion">
      <li sec:authorize="isAuthenticated()">
        <a sec:authentication="name" href="#"></a>
        <ul>
          <li sec:authorize="hasAuthority('cliente')"><a th:href="@{/clientes}">Mi Cuenta</a></li>
          <li class="cierre-sesion"><a th:href="@{/logout}">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main class="contenido" th:insert="${contenido}"></main>
</body>

</html>