<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
    <title>Envios Bios - Eliminar Empleado</title>
</head>

<body th:remove="tag">
    <h1>Eliminar Empleado</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <div class="contenedor-eliminar">
        <th:block th:if="${empleado}">
            <p>¿Confirma que desea eliminar el empleado <strong th:text="${empleado.nombreUsuario}"></strong>
                (<span th:text="${empleado.sucursal.nombre}"></span>)?</p>

            <form method="post">
                <div class="botones-accion">
                    <a href="/empleados" class="btn-cancelar">Cancelar</a>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" value="Eliminar" />
                </div>
            </form>
        </th:block>
    </div>

    <div style="padding-bottom: 50px;"></div>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>

</body>

</html>