<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
    <title>Envios Bios - Modificar Empleado</title>
</head>

<body th:remove="tag">
    <h1>Modificar Empleado</h1>

    <div align="center">
        <p th:replace="~{fragmentos/parrafo-mensaje}"></p>
        <th:block th:if="${empleado}">
            <div
                th:replace="~{fragmentos/formulario-empleado(textoBoton = 'Modificar', deshabilitarClave = true, foco = 'email')}">
            </div>
        </th:block>
    </div>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
</body>

</html>