<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-usuario::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
    <title>Envios Bios - Detalle de Estados de Rastreo</title>
</head>

<body th:remove="tag">
    <h1>Detalle de Estados de Rastreo</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <th:block th:if="${rastreos}">
        <div class="detalle-contenedor">
            <h2 th:text="${rastreos.descripcion}"></h2>
            <ul>
                <li><strong>Id</strong>: <span th:text="${rastreos.idRastreo}"></span></li>
                <li><strong>Nombre</strong>: <span th:text="${rastreos.descripcion}"></span></li>
            </ul>
        </div>
    </th:block>

    <div style="padding-bottom: 50px;"></div>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>

</body>

</html>