<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioCategoria.css')}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estiloFormularioCategoria.css">
    <title>Estados de Rastreo</title>
</head>

<body th:remove="tag">

    <div class="container" align="center">
        <h1>Estados de Rastreo</h1>

        <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

        <!-- Formulario de búsqueda -->
        <form id="formularioBusqueda" method="get">
            <div>
                <input type="search" name="criterio" th:value="${param.criterio}" id="criterio"
                    placeholder="Descripción del Estado">
                <input type="submit" value="Buscar">
            </div>
            <!-- Incluimos el número de página en el formulario -->
            <input type="hidden" name="pagina" th:value="${page.number}" />
        </form>

        <!-- Tabla para mostrar la lista de estados -->
        <div class="datagrid" id="tablaEstadosRastreo">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="r : ${rastreo}">
                        <td th:text="${r.idRastreo}"></td>
                        <td th:text="${r.descripcion}"></td>
                        <td>
                            <a th:href="@{/estadosRastreos/{idRastreo}(idRastreo=${r.idRastreo})}"
                                title="Ver Detalle"><i class="icono icono-ver"></i></a>&nbsp;&nbsp; |
                            <a th:href="@{/estadosRastreos/modificar(idRastreo=${r.idRastreo})}" title="Modificar"><i
                                    class="icono icono-modificar"></i></a>&nbsp;&nbsp;|
                            <a th:href="@{/estadosRastreos/eliminar(idRastreo=${r.idRastreo})}" title="Eliminar"><i
                                    class="icono icono-eliminar"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>
            <a class="agregar" th:href="@{/estadosRastreos/agregar}" title="Agregar">Agregar Estado de Rastreo</a>
        </p>

        <!-- Controles de paginación -->
        <div class="pagination">
            <ul class="li-pagination">
                <!-- Link para ir a la página anterior -->
                <li th:if="${page.hasPrevious()}">
                    <a
                        th:href="@{/estadosRastreos(pagina=${page.number - 1}, tamanioPagina=${page.size}, criterio=${criterio})}">Anterior</a>
                </li>

                <!-- Mostrar número de página actual y total de páginas -->
                <li th:text="'Página ' + (${page.number + 1}) + ' de ' + ${page.totalPages}"></li>

                <!-- Link para ir a la página siguiente -->
                <li th:if="${page.hasNext()}">
                    <a
                        th:href="@{/estadosRastreos(pagina=${page.number + 1}, tamanioPagina=${page.size}, criterio=${criterio})}">Siguiente</a>
                </li>
            </ul>
        </div>

        <script>
            // Función que hace scroll automático a la tabla
            function irATablaEstadosRastreo() {
                const tabla = document.getElementById('tablaEstadosRastreo');
                if (tabla) {
                    tabla.scrollIntoView({ behavior: 'smooth' });
                }
            }

            // Llamar a la función después de que la página haya cargado
            window.onload = function () {
                // Verificamos si es una recarga o navegación después de una paginación
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('pagina')) {
                    irATablaEstadosRastreo();
                }
            };

            document.getElementById('formularioBusqueda').addEventListener('search', function () {
                document.getElementById('formularioBusqueda').submit();
            });

            document.getElementById('criterio').focus();
            document.getElementById('criterio').select();
        </script>

        <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
    </div>
</body>

</html>