<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-usuario::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
    <title>Envios Bios - Modificar Estado de Rastreo</title>
</head>

<body th:remove="tag">
    <h1>Modificar Estado de Rastreo</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <!-- Mostrar el formulario solo si 'rastreo' está presente -->
    <th:block th:if="${rastreo}">
        <div th:replace="fragmentos/formulario-estadosRastreos :: formulario-estadosRastreos('Modificar')"></div>
    </th:block>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
</body>

</html>