<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragmentos/header-cliente::html(~{::title}, ~{::body}, 'css/estiloFormularioCategoria.css')}">

<head>
  <title>Envios Bios - Eliminar Cliente</title>
</head>

<body th:remove="tag">
  <h1>Eliminar Cliente</h1>

  <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

  <th:block th:if="${clientes}">
    <p>¿Confirma que desea eliminar el producto con código <strong th:text="${clientes.nombreUsuario}"></strong>?</p>

    <form method="post">
      <div>
        <input type="submit" value="Eliminar" />
      </div>
    </form>
  </th:block>
  <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>

</body>

</html>