<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragmentos/plantilla-usuario::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
  <title>Envios Bios - Modificar Cliente</title>
</head>

<body th:remove="tag">
  <h1>Modificar Cliente</h1>
  <div align="center">
    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <th:block th:if="${cliente}">
      <div th:replace="~{fragmentos/formulario-cliente(textoBoton = 'Modificar', deshabilitarClave = true, foco = 'email')}"></div>
    </th:block>
    <p><a th:href="@{/clientes/eliminar}">Eliminar mi cuenta...</a></p>
    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
  </div>
</body>

</html>