<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/registro-cliente.css">
  <title>Registro de Cliente</title>
</head>

<body>
  <div class="login-container">
    <form class="login-form" method="post" th:object="${cliente}">
      <div class="">
        <!-- Aca voy a poner el logo -->
        <img src="/imagenes/logo png.png" alt="Logo Envíos Bios" class="logo-login">
      </div>
      <h2>Registro de Cliente</h2>
      <div class="line-h2"></div>
      <p th:text="${mensaje}" style="color: red;"></p>

      <div class="input-container-completo">
        <div class="input-container-uno">
          <div class="input-container-login">
            <label class="input-container-label" for="nombreUsuario">Nombre de Usuario</label>
            <input class="input-container-label" type="text" th:field="*{nombreUsuario}">
            <p th:errors="*{nombreUsuario}" style="color: red; font-size: 12px;"></p>
          </div>
          <div class="input-container-login">
            <label class="input-container-label" for="email">Email</label>
            <input class="input-container-label" type="email" th:field="*{email}">
            <p th:errors="*{email}" class="input-container-label"></p>
          </div>
          <div class="input-container-login">
            <label class="input-container-label" for="claveDeAcceso">Clave de Acceso</label>
            <input class="input-container-label" type="password" th:field="*{claveDeAcceso}">
            <p th:errors="*{claveDeAcceso}" class="input-container-label" style="color: red; font-size: 12px;"></p>
          </div>
          <div class="input-container-login">
            <label class="input-container-label" for="repetirClaveDeAcceso">Repetir Clave de Acceso</label>
            <input class="input-container-label" type="password" th:field="*{repetirClaveDeAcceso}">
            <p th:errors="*{repetirClaveDeAcceso}" class="input-container-label" style="color: red;font-size: 12px;">
            </p>
          </div>
        </div>

        <div class="input-container-dos">
          <div class="input-container-login">
            <label class="input-container-label" for="cedula">Cédula</label>
            <input class="input-container-label" type="text" th:field="*{cedula}" pattern="[0-9]+" maxlength="10"
              title="Solo se permiten números">
            <p th:errors="*{cedula}" class="input-container-label" style="color: red;font-size: 12px;"></p>
          </div>
          <div class="input-container-login">
            <label class="input-container-label" for="domicilio">Domicilio</label>
            <input class="input-container-label" type="text" th:field="*{domicilio}">
            <p th:errors="*{domicilio}" class="input-container-label" style="color: red;font-size: 12px;"></p>
          </div>
          <div class="input-container-login">
            <label class="input-container-label" for="telefono">Teléfono</label>
            <input class="input-container-label" type="text" th:field="*{telefono}" pattern="[0-9]+" maxlength="20"
              title="Solo se permiten números">
            <p th:errors="*{telefono}" class="input-container-label" style="color: red;font-size: 12px;"></p>
          </div>
        </div>
      </div>

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input class="btn-login" type="submit" value="Registrar" />

      <div class="volver">
        <p class="registro-invitar"><a th:href="@{login}">Iniciar sesión</a></p>
        <p class="registro-invitar"><a th:href="@{/}">Volver a inicio</a></p>
      </div>
    </form>
  </div>

  <script>
    // Validación en tiempo real para aceptar solo números en los campos de cédula y teléfono
    document.querySelector('input[name="cedula"]').addEventListener('input', function (e) {
      this.value = this.value.replace(/[^0-9]/g, '');  // Elimina cualquier carácter que no sea un número
    });

    document.querySelector('input[name="telefono"]').addEventListener('input', function (e) {
      this.value = this.value.replace(/[^0-9]/g, '');  // Elimina cualquier carácter que no sea un número
    });
  </script>
</body>

</html>