<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body style="text-align: center;">
    <h2>Not Found</h2>
    <h3>(<span th:text="${status}"></span> - <span th:text="${error}"></span>)</h3>
    <p><strong style="color: red;">Error</strong> la pagina solicitada no existe!</p>
    
</body>

</html>