body{
  background-color: #343a40;
  font-family: sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  padding: 20px;
}

.login-form {
  width: 450px;
  background-color: #111010;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid gainsboro;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.login-form:hover {
  border: 2px solid #1a73e8;
}

.login-form h2 {
  margin-top: 0px
}

.input-container-login {
  margin-bottom: 10px;
  text-align: left;
}

.input-container-label {
  width: 92%;
  padding: 10px;  
  border-radius: 5px;
  display: block;  
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  font-size: 16px;
}

.btn-login:hover {
  background-color: #45a049;
}

.logo-login { 
  height: 250px;  
}

.line-h2 {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
}

.registro-invitar {
  padding: 10px;  
  margin-top: 10px; 
  transition: background-color 0.3s;
}

.registro-invitar a {
  color: #1a73e8; 
  text-decoration: none;  
  transition: background-color 0.3s;
}

.registro-invitar a:hover {
  color: #5790fa;  
}

.input-container-completo{
  display: flex;
  justify-content: space-between;
}

.volver{
  display: flex;
  justify-content: space-between;
}

/*@media (max-width: 600px) {

  .input-container-completo{
  display: grid;  
}

.input-container-label{
  width: 177%;
}

.login-container {
height: auto;
padding-bottom: 50px;
}

.login-form {
width: 350px;
margin-top: 10px;
}
}*/

@media (max-width: 600px) {
  .input-container-completo {
    display: block;
  }

  .input-container-label {
    width: 100%;
    box-sizing: border-box; /* Asegura que padding no sobrepase el ancho */
  }

  .login-container {
    height: auto;
    padding-bottom: 50px;
  }

  .login-form {
    width: 100%; 
    max-width: 500px;
    margin-top: 10px;
  }
}

