<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/plantilla-usuario::html(~{::title}, ~{::body}, 'css/estiloFormularioGenerales.css')}">

<head>
    <title>Envios Bios - Modificar Sucursal</title>
</head>

<body th:remove="tag">
    <h1>Modificar Sucursal</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <th:block th:if="${sucursal}">
        <div th:replace="~{fragmentos/formulario-sucursal(textoBoton = 'Modificar', deshabilitarClave = true, foco = 'nombre')}"></div>

    </th:block>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
</body>

</html>