<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragmentos/plantilla-usuario::html(~{::title}, ~{::body}, 'css/estiloFormPaquete.css')}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Envios Bios - Modificar Paquete</title>

<body th:remove="tag">
    <h1>Modificar Paquete</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <th:block th:if="${paquete}">
        <div th:replace="fragmentos/formulario-paquete :: formulario-paquete('Modificar')"></div>
    </th:block>

    <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>
</body>

</html>