<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body}, 'css/estiloFormPaquete.css')}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Paquetes</title>
</head>

<body th:remove="tag">

  <div class="contenedor" align="center">
    <h1>Paquetes Registrados</h1>

    <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

    <form id="formularioBusqueda" th:action="@{/paquetes}" method="get">
      <div>
        <label for="cedulaCliente">Filtrar por cédula</label>
        <input type="text" name="cedulaCliente" th:value="${param.cedulaCliente}" id="cedulaCliente"
          placeholder="Número de cédula de cliente">
      </div>

      <div>
        <label for="fechaRegistro">Filtrar por fecha de registro</label>
        <input type="date" name="fechaRegistro" th:value="${param.fechaRegistro}" id="fechaRegistro">
      </div>

      <div>
        <label for="estadoRastreo">Filtrar por estado de rastreo</label>
        <select name="estadoRastreo" id="estadoRastreo">
          <option value="">Seleccionar estado</option>
          <th:block th:each="estado : ${estadosRastreo}">
            <option th:value="${estado.descripcion}" th:text="${estado.descripcion}"
              th:selected="${param.estadoRastreo == estado.descripcion}"></option>
          </th:block>
        </select>
      </div>

      <div>
        <input type="submit" value="Buscar">
      </div>
    </form>




    <!-- Mensaje si no se encontraron paquetes -->
    <div th:if="${#lists.isEmpty(paquetes)}">
      <p>No se encontraron paquetes con los filtros seleccionados.</p>
    </div>

    <!-- Tabla para mostrar la lista de paquetes si hay resultados -->
    <div class="datagrid" th:if="${not #lists.isEmpty(paquetes)}">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Remitente</th>
            <th>Destinatario</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Fecha de Registro</th>
            <th>Cobro a Destinatario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="paquete : ${paquetes}">
            <td th:text="${paquete.idPaquete}"></td>
            <td th:text="${paquete.cliente.nombreUsuario}"></td> <!-- Cliente actualizado -->
            <td th:text="${paquete.nombreDestinatario}"></td>
            <td th:text="${paquete.telefonoDestinatario}"></td>
            <td th:text="${paquete.direccionDestinatario}"></td>
            <td th:text="${paquete.categoria.nombre}"></td>
            <td th:text="${paquete.estadoRastreo.descripcion}"></td>
            <td th:text="${#temporals.format(paquete.fechaHoraRegistro, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${paquete.cobroDestinatario ? 'Sí' : 'No'}"></td>
            <td>
              <a th:href="@{'/paquetes/detalle/' + ${paquete.idPaquete}}" title="Ver Detalle"><i
                  class="icono icono-ver"></i></a>&nbsp;&nbsp; |
              <a th:href="@{'/paquetes/modificar/' + ${paquete.idPaquete}}" title="Editar"><i
                  class="icono icono-modificar"></i></a>&nbsp;&nbsp; |
              <a th:href="@{'/paquetes/eliminar/' + ${paquete.idPaquete}}" title="Eliminar"
                th:onclick="'return confirm(\'¿Estás seguro de querer eliminar este paquete?\');'"><i
                  class="icono icono-eliminar"></i></a>
            </td>
          </tr>
        </tbody>
      </table>


    </div>


    <p>
      <a class="agregar-paquete" th:href="@{/paquetes/agregar}" title="Agregar Paquete">Agregar Paquete</a>
    </p>

    <!-- Controles de Paginación -->
    <div class="paginacion" align="center">
      <ul>
        <li th:if="${currentPage > 0}">
          <a
            th:href="@{/paquetes(pagina=${currentPage - 1}, tamanioPagina=${pageSize}, cedulaCliente=${param.cedulaCliente}, fechaRegistro=${param.fechaRegistro}, estadoRastreo=${param.estadoRastreo})}">Anterior</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
          <a th:href="@{/paquetes(pagina=${i}, tamanioPagina=${pageSize}, cedulaCliente=${param.cedulaCliente}, fechaRegistro=${param.fechaRegistro}, estadoRastreo=${param.estadoRastreo})}"
            th:text="${i + 1}">1</a>
        </li>
        <li th:if="${currentPage < totalPages - 1}">
          <a
            th:href="@{/paquetes(pagina=${currentPage + 1}, tamanioPagina=${pageSize}, cedulaCliente=${param.cedulaCliente}, fechaRegistro=${param.fechaRegistro}, estadoRastreo=${param.estadoRastreo})}">Siguiente</a>
        </li>
      </ul>
    </div>
  </div>

  <div th:replace="~{fragmentos/footer::html(~{::title}, ~{::body})}"></div>

</body>

</html>